<mat-form-field>
    <input id="input" matInput (keyup)="applyFilter($event.target.value)" (focus)="openKeyboard()" (click)="openKeyboard()" placeholder="Suche" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value='';applyFilter(''); closeKeyboard()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<div class="table-container mat-elevation-z8">
    <ng-scrollbar #scrollable 
    [shown]="'always'"
    [autoUpdate]="true">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let row" (click)="call(row)"> {{row.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="number">
            <td mat-cell *matCellDef="let row" (click)="call(row)"> {{ format(row.number)}} </td>
            </ng-container>
    
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ng-scrollbar>
</div>