<div style="text-align:center">
    <div class="grid-wrapper">
        <div>
          <div class="image-container" style="width: 35%; margin: auto; margin-top: 5%" (click)="changeLang('de')">
            <div class="image-curtain"></div>
            <img src="../assets/de.svg">
          </div>
        </div>
        <div> 
          <div class="image-container">
            <div class="image-curtain"></div>
            <img src="../assets/company logo.svg">
          </div>
        </div>
        <div>
          <div class="image-container" style="width: 35%; margin: auto; margin-top: 5%" (click)="changeLang('en')">
            <div class="image-curtain"></div>
            <img src="../assets/us.svg">
          </div>
        </div>
    </div>
  <div fxLayout="rows" fxLayoutAlign="center">
    <mat-card class="main-card" (click)="openCall(null, this.deliveryContacts, 0)">
      <mat-card-title>
        {{'main.delivery'|translate}}
      </mat-card-title>
      <div class="image-container"> 
        <div class="image-curtain"></div>
        <img mat-card-image src="../assets/box.svg">
      </div>
    </mat-card>
    <mat-card class="main-card" (click)="openCall(null, this.visitorContacts, 0)">
      <mat-card-title>
        {{'main.visitor'|translate}}
      </mat-card-title>
      <div class="image-container"> 
        <div class="image-curtain"></div>
        <img mat-card-image src="../assets/handshake.svg">
      </div>
    </mat-card>
    <mat-card class="main-card" (click)="openContacts()">
      <mat-card-title>
        {{'main.search'|translate}}
      </mat-card-title>
      <div class="image-container"> 
        <div class="image-curtain"></div>
        <img mat-card-image src="../assets/team.svg">
      </div>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
<div class="smokes" style="z-index: -1; height: 100%;"></div>
<img src="../assets/smokes.jpg" class="smokes"/>