<div style="text-align:center">

  <img src="../assets/company logo.png" style="margin-top: 40px; margin-bottom: 10px">
  <div fxLayout="rows" fxLayoutAlign="center">
    <mat-card class="main-card" (click)="openCall(this.deliveryContact)">
      <mat-card-title>
        Warenannahme
      </mat-card-title>
      <img mat-card-image src="../assets/box.svg">
    </mat-card>
    <mat-card class="main-card" (click)="openCall(this.visitorContact)">
      <mat-card-title>
        Besucher
      </mat-card-title>
      <img mat-card-image src="../assets/handshake.svg">
    </mat-card>
    <mat-card class="main-card" (click)="openContacts()">
      <mat-card-title>
        Kontakt suchen
      </mat-card-title>
      <img mat-card-image src="../assets/team.svg">
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
<img src="../assets/smokes.jpg" class="smokes"/>