@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~simple-keyboard/build/css/index.css";
@import '~@angular/material/theming';
@import '~@angular/cdk/overlay-prebuilt.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
}
body {
    background: #fafafa;
    margin: 0px;
}
